<!DOCTYPE html>
{{metaComment|raw}}
<html lang="{{pageLanguage}}">
<head>
    <meta charset="{{pageEncoding|raw}}">
    <title>{{pageTitle}}</title>
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{pageDescription}}">
    <meta name="keywords" content="{{pageKeywords}}">
    <meta name="author" content="{{pageAuthor}}">
    <!-- build:css css/styles.min.css -->
    {% for each in stylesheets %}
        <!-- {{each.name}} -->
        <link type="{{each.type}}" rel="{{each.rel}}" href="{{each.link}}"/>
    {% endfor %}
    <!--endbuild-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
          integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>