<!DOCTYPE html>
{{metaComment|raw}}
<html lang="{{page.language}}">
<head>
    <meta charset="{{page.encoding|raw}}">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{page.description}}">
    <meta name="keywords" content="{{page.keywords}}">
    <meta name="author" content="{{page.author}}">
    {% block stylesheets %}
        {% for each in stylesheets %}
            <!--{{each.name}}-->
            <link type="{{each.type}}" rel="{{each.rel}}" href="{{each.link}}"/>
        {% endfor %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css"
              integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
              crossorigin="anonymous">
    {% endblock %}
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>