<!DOCTYPE html>
{% include '/common/credits.twig' %}
<html lang="{{pageLanguage}}">
<head>
    <meta charset="{{pageEncoding}}">
    <title>{{pageTitle}}</title>
    <link rel="icon"
      type="image/png"
      href="https://www.via.placeholder.com/32x32">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="{{pageDescription}}">
      <meta name="keywords" content="{{pageKeywords}}">
      <meta name="author" content="{{pageAuthor}}">
      {% include '/common/css.twig' %}
</head>
<body>
